@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hey mommy</h1>
    <p><a href="https://www.flickr.com/photos/88407518@N04/8121953937">I'm sorry for the discomfort I've caused you thus far'</a>.</p>
</div>
