@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">IPS Software Assessment</h1>
    <p><a href="">Git repo can be found on this link</a>.</p>
</div>
