@page
@model IPS.Pages.CustomerView.AddCustomerModel
@{
}
<br />
<h2>Add New Customer</h2>
@if (!string.IsNullOrEmpty(Model.errorMessage))
{
    <div class="alert-dismissible alert alert-warning" role="alert">
        <strong>@Model.errorMessage</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" arial-label="close "></button>
    </div>
}
<form method="POST">

    <div class="row mb-3">
        <label class="col-ms-3 col-form-label">Full Name</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="name" value="@Model.customer.CustomerName"/>

        </div>
    </div>
    <div class="row mb-3">
        <label class="col-ms-3 col-form-label">Email</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="email" value="@Model.customer.Email" />

        </div>
    </div>
    <div class="row mb-3">
        <label class="col-ms-3 col-form-label">Phone</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="phone" value="@Model.customer.Phone" />

        </div>
    </div>
    <div class="row mb-3">
        <div class="col-sm-6">
            <button class="btn btn-primary btn-sm" id="save">Save</button>

        </div>
        <div class="col-sm-6">
            <button class="btn btn-primary btn-sm" id="cancel">Cancel</button>

        </div>
    </div>

</form>
<script>
    $(document).ready(function(){
    $('#cancel').click(function(){
            window.location.href = "/CustomerView/";
    });
    }
</script>
