@page
@model IPS.Pages.CustomerView.IndexModel
@{
}
<br />
<h2>List of Customers</h2>
<a class="btn btn-primary btn-sm" href="/CustomerView/AddCustomer">New Customer</a>
<table class="table">
    <thead>
    <th>ID</th>
    <th>Customer Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>Action</th>
    </thead>
    <tbody>
        @foreach (var item in Model.customers)
        {
            <tr>
            <td>@item.CustomerId</td>
            <td>@item.CustomerName</td>
            <td>@item.Email</td>
            <td>@item.Phone</td>
            <td>
                    <a class="btn btn-primary btn-sm" href="..\Pages\CustomerView\Edit?Id=@item.CustomerId">Edit</a>
                    <a class="btn btn-primary btn-sm" href="..\Pages\CustomerView\Delete?Id=@item.CustomerId">Delete</a>
            </td>
            </tr>
        }
</tbody>
</table>
